openapi: '3.0.0'
info:
  version: 1.0.0
  title: GitHub Repositories API
  license:
    name: MIT
servers:
  - url: https://api.github.com/v1
paths:
  /repositories:
    get:
      summary: List all repositories
      operationId: listRepositories
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of repositories
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repositories'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new repository
      operationId: createRepository
      responses:
        201:
          description: Repository created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /repositories/{repositoryId}:
    get:
      summary: Get details for a specific repository
      operationId: showRepositoryById
      parameters:
        - name: repositoryId
          in: path
          required: true
          description: The id of the repository to retrieve
          schema:
            type: string
      responses:
        200:
          description: Repository details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repositories'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update repository settings
      operationId: updateRepository
      responses:
        200:
          description: Repository updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /repositories/{repositoryId}/issues:
    get:
      summary: List issues for a specific repository
      operationId: listRepositoryIssues
      parameters:
        - name: repositoryId
          in: path
          required: true
          description: The id of the repository
          schema:
            type: string
      responses:
        200:
          description: List of repository issues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issues'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Repository:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        private:
          type: boolean
    Repositories:
      type: array
      items:
        $ref: '#/components/schemas/Repository'
    Issue:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        body:
          type: string
        state:
          type: string
          enum: [open, closed]
    Issues:
      type: array
      items:
        $ref: '#/components/schemas/Issue'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
